
:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #539bf5;
    --background: #22272e;
    --banner: #373e47;
    --border: #22272e;
    --text: #EEEEEE;
}

:link {
	color: var(--blue);
}

:visited {
	color: var(--red);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

body {
	background-color: var(--background);
	color: var(--text);
	margin: 0px auto;
	padding: 0;
    font-family: Sans-Serif;
	height: 100%;
	max-width: 1920px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
    clear: both;
    display: block;
}

#home article {
    display: block;
    padding: 4px;
    margin-left: 150px;
    margin-right: 150px;
}

#home p {
    margin-left: 100px;
    margin-right: 100px;
}

#home h2 {
	margin: 0;
	text-align: center;
}

#howdy {
	color: #E00000;
	font-weight: bold;
	text-align: center;
}

#home main {
	display: block;
}

