
:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #539bf5;
	--buildhead: #E0E0E0;
    --background: #22272e;
    --banner: #373e47;
    --border: #22272e;
    --text: #EEEEEE;
}

:link {
	color: var(--blue);
}

:visited {
	color: var(--red);
}

body {
	background-color: var(--background);
	color: var(--text);
	margin: 15px auto;
	padding: 0 10px;
    font-family: Sans-Serif;
}

code {
	white-space: nowrap;
}

@media (min-width: 800px) {
	body {
		max-width: 85%;
	}
}

tt {
	white-space: pre;
}

.cmdbox {
	background: #F5F5F5;
	border: 1px solid #AAAAAA;
	overflow: auto;
	padding: 10px;
}

/* sidebar layout */

#home body {
	height: 100%;
	max-width: 90%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: table;
	padding: 0;
	margin: 0;
}

#home nav,
#home article,
#home figure,
#home aside {
	display: table-cell;
	padding: 4px;
}

#home nav, 
#home figure {
	padding: 8px;
    padding-right: 14px;
    border-right: 11px solid;
	background-color: var(--banner);
    border-color: var(--border);
}

#home nav header {
	margin: 0;
	font-size: 15pt;
	font-weight: bolder;
	white-space: nowrap;
    color: var(--text);
}

#home nav ul {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 0;
}

#home nav li {
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0.5em;
}

#home article {
    padding-left: 10%;
}

#home article h2 {
	margin: 0;
	text-align: center;
}

#howdy {
	color: #E00000;
	font-weight: bold;
	text-align: center;
}

#home main,
#home footer {
	display: table-row;
}

#home nav {
	vertical-align: top;
}

#home figure {
	vertical-align: bottom;
}

