
@import url("/assets/css/base.css");
@import url("/assets/css/banner.css");
@import url("/assets/css/nav.css");

main ul li {
    margin: .5em 0;
}

main ul li.title {
    margin-top: 1.5em;
}

.row {
    max-width: 500px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.column {
    padding: 24px;
}

.column:hover {
    filter: brightness(150%);    
}

.link {
    max-height: 24px;
    max-width: 24px;
}

