
@import url("/assets/css/base.css");
@import url("/assets/css/banner.css");
@import url("/assets/css/nav.css");

main ul li {
    margin: .5em 0;
}

main ul li.title {
    margin-top: 1.5em;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.column {
    margin-top: 1%;
    margin-bottom: 1%;
}

.link {
    max-height: 24px;
    max-width: 24px;
    padding: 6px;
}

