
#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    text-align: left;
    max-width: 1920px;
    min-width: 640px;
}

main {
    --red: #e00000;
	--blue: #2a6dd3;
    --background: #22272e;
    --text: #eeeeee;
}

main:link {
	color: var(--blue);
}

main:visited {
	color: var(--red);
}


main body {
    background-color: var(--background);
	color: var(--text);
	font-size: 1.1em;
    margin: 0px auto;
	padding: 0;
    font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	max-width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
    clear: both;
    display: block;
}

main article {
    display: block;
    padding: 4px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 100%;
}

main #howdy {
    color: var(--red);
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 4%;
	margin-top: 2%;
}

