
#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    text-align: left;
    max-width: 1920px;
    min-width: 640px;
}

body {
    --red: #e00000;
	--blue: #2a6dd3;
    --background: #22272e;
    --text: #eeeeee;

    background-color: var(--background);
	color: var(--text);
	font-size: 1.1em;
    line-height: 155%;
    margin: 0px auto;
	padding: 0;
    font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
	height: 100%;
	max-width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
    clear: both;
    display: block;
}

body a:link {
	color: var(--blue);
}

body a:visited {
	color: var(--red);
}

body a:active {
    color: var(--red);
}

body article {
    display: block;
    padding: 4px;
    margin: auto;
    max-width: 900px;
    font-size: 100%;
}

body #howdy {
    color: var(--red);
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 4%;
	margin-top: 2%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff !important;
        color: var(--background) !important;
    }
}

@media (max-width: 1000px) {
   body {
      font-size: 1em;
   }
   body #howdy {
      font-size: 1.1em;
   }
   body article {
      max-width: 90%;
   }
}


