
:root {
	--red: #e00000;
	--green: #008100;
	--blue: #2a6dd3;
    --background: #22272e;
    --banner: #373e47;
    --border: #22272e;
    --dropdown: #f5f5f5;
    --dropdown2: #eeeeee;
    --text: #eeeeee;
}

