
@import url("/assets/css/colors.css");

.gif {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    place-content: left;
    place-items: left;
    margin-left: 10%;
}

.gif img {
   max-width: 400px;
   height: auto;
}

