
.gif {
    display: grid;
    
    grid-template-areas: 
    'first second'
    'third fourth'
    'fifth sixth';

    max-width: 1920px;
    margin-left: 10%;
    margin-right: 10%;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
}

.gif img {
   max-width: 500px;
   width: 100%;
   height: auto;
}

.gif p {
   margin-top: 20%;
   margin-bottom: 10%;
   margin-left: 0;
   margin-right: 0;
   font-size: 125%;
}

.gif ol {
   font-size: 110%;
}

.gif .first {
   grid-area: first;
}

.gif .second {
   grid-area: second;
}

.gif .third {
   grid-area: third;
}

.gif .fourth {
   grid-area: fourth;
}

.gif .fifth {
   grid-area: fifth;
}

.gif .sixth {
   grid-area: sixth;
}

