
.grid {
    display: grid;
    max-width: 1920px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
}

.two-item-grid {    
    grid-template-areas: 'first second';
}

.three-item-grid {
    grid-template-areas: 
    'first second'
    'third third';
}

.five-item-grid-alt {
    grid-template-areas: 
    'first empty'
    'second third'
    'fourth fifth';
}

.six-item-grid {    
    grid-template-areas: 
    'first second'
    'third fourth'
    'fifth sixth';
}

.seven-item-grid-alt {
    grid-template-areas: 
    'first empty'
    'second third'
    'fourth fifth'
    'sixth seventh';
}

.grid img {
   max-width: 500px;
   width: 100%;
   height: auto;
}

.grid p {
   font-size: 125%;
}

.grid ol {
   font-size: 110%;
}

.grid div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: left;
}

.grid .first {
   grid-area: first;
}

.grid .second {
   grid-area: second;
}

.grid .third {
   grid-area: third;
}

.grid .fourth {
   grid-area: fourth;
}

.grid .fifth {
   grid-area: fifth;
}

.grid .sixth {
   grid-area: sixth;
}


@media (max-width: 1440px) {
   .grid p {
      font-size: 1.5vw;
   }
   .grid ol {
      font-size: 1.2vw;
   }
}


