
:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #539bf5;
    --background: #22272e;
    --banner: #373e47;
    --border: #22272e;
    --text: #EEEEEE;
}

/* Drop-down menu */
.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
    background-color: var(--banner);   
    position: sticky;
    top: 0;
    max-width: 1920px;
}

.nav li:first-child {
    margin-left: 20%;
}

.nav li {
    display: block;
    float: left;
}

.nav li header {
	display: block;
	padding: 5px 10px;
	color: var(--text) !important;
	text-decoration: none !important;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.nav li.active {
    background-color: var(--blue);
}

.nav li.home a {
    color: var(--text) !important;
	text-decoration: none !important;
}

.nav li header:hover, .dropdown:hover {
    background-color: var(--red);
}

.nav li.dropdown {
    display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

