
.nav {
    --red: #e00000;
	--blue: #2a6dd3;
    --banner: #373e47;
    --dropdown: #f9f9f9;
    --dropdown2: #d9d9d9;
    --text: #eeeeee;
    --text2: #22272e;
    position: sticky;
    top: 0;
}

/* Drop-down menu */
.nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	place-content: center;
    list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--banner);	 
	max-width: 1920px;
    min-width: 640px;
}

.nav li {
    display: flex;
	flex-grow: 1;
	place-content: center;
	max-width: 12vw;
    float: left;
    transition: background-color .25s;
}

.nav li a.navtab {
    display: flex;
	flex-grow: 1;
	place-content: center;
	padding: 5px 10px;
	color: var(--text) !important;
	text-decoration: none !important;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

.nav li.active {
	background-color: var(--blue);
}

.nav li .navtab:hover, .dropdown:hover {
	background-color: var(--red);
}

.nav li.dropdown {
	display: block;
}

.dropdown-content {
	position: absolute;
	background-color: var(--dropdown);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	place-content: center;
    width: 12vw;
/*	min-width: 140px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	visibility: hidden;
    opacity: 0;
	transition: visibility 0s, opacity 0.25s linear;
}

.dropdown-content a {
	color: var(--text2) !important;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: var(--dropdown2);
}

.dropdown:hover .dropdown-content {
	visibility: visible;
    opacity: 1;
}

