
@import url("/assets/css/base.css");
@import url("/assets/css/nav.css");
@import url("/assets/css/grid.css");
@import url("/assets/css/anchor.css");

h2 {
  margin-top: 10%;
}

.link-icon {
  content: url("/assets/images/link_icon.svg");
  margin-left: .2em; 
  height: .6em;
  width: .6em;
}
