
@import url("/assets/css/base.css");

.link-icon {
    display: inline;
    vertical-align: bottom;
    content: url("/assets/images/github_icon_light.svg");
    margin-left: .30em; 
    width: 1em;
    height: 1em;
}

.link-icon:hover {
    content: url("/assets/images/github_icon_blue.svg");
}

